header, footer {
    font: 30px Verdana;
    margin: 0;
	padding: 0;
    color:black;
    font-weight:bold;
    text-align: center;
    margin-top: 0;	 
	padding-right: 15px;
    padding-left: 15px; 
}

p { 
	padding: 0;
	margin: 0;
	color: black;
    margin-top: 0;	 
	padding-right: 15px;
	padding-left: 15px; 
}
p1 {
    font-weight:bold;
	color: black;	 
	padding-right: 15px;
    padding-left: 15px;
    padding-top:20px;
}
img { 
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding-top: 15px;
}

img1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding-top: 15px;
}

html{
    background-color: lightblue;
    opacity: 50%;

}